<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>Nome completo: {{nomeCompleto}}</p>
        <p>API de Capitais</p>
        <button @click="getData">Buscar Capital</button>
        <select name="countries" id="countries" v-model="paisSelecionado">
            <option v-for="({name, capital}) in countriesData" :value="name">{{name}}</option>
        </select>
        <p>{{capitalSelecionada}}</p>
        <!-- <ul>
            <li v-for="(country, key) in countriesData">{{country.name}}: {{country.capital}}</li>
        </ul> -->
    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                nome: "Felipe",
                sobrenome: "Amaral",
                countriesData: {},
                paisSelecionado: "",
                capitalSelecionada: "",
            },
            methods: {
                getData() {
                    fetch("https://restcountries.eu/rest/v2/all")
                    .then(resp => resp.json())
                    .then(resp => {
                        this.countriesData = resp
                    })
                },
                findCapital(cs) { //podia ter o find dessa função dentro do Watch
                    const country = this.countriesData.find(({name}) => name === cs) //find ao invés de filter pois tem que retornar um unico valor
                    console.log(country.name,": ",country.capital)
                    this.capitalSelecionada = country.capital
                }
            },
            computed: {
                nomeCompleto() {
                    return this.nome+" "+this.sobrenome
                },
            },
            watch: {
                paisSelecionado(lastCountry) {
                    this.findCapital(lastCountry)
                }
            }
        })
    </script>
</body>
</html>