<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <p>Teste</p>
    <div>
        <div id="app">
            <ul>
                <li v-for="(jogo, index) in jogos">{{jogo}}:{{index}}</li>
                <li v-for="(console, index) in consoles">{{console}}:{{index}}</li>
            </ul>
            <ul>
                <!-- O valor de key permite identificar o elemento por um valor unico, então mesmo alterando as posições o input no exemplo vai seguir a key -->
                <li v-for="(estado, key, index) in estados" :key="key">{{estado.nome}} - {{estado.populacao}}
                    <input type="text">
                </li>
                <!-- Objetos aceitam desestruturação -->
                <!-- <li v-for="({nome, populacao}) in estados">{{nome}} -- {{populacao}}</li> -->
            </ul>
            <button @click="misturar">Shuffle</button>
            <!-- Incrementa sem JS -->
            <div v-for="increment in 5">
                {{increment}}
            </div>
            <!-- Exemplo de reatividade -->
            <p v-for="(musica, index) in musicas">{{index}}: {{musica}}</p>
            <button @click="remove">Remove do array com pop()</button>
            <button @click="altera">Altera valor do array</button>
        </div>

        <script>
            const vm = new Vue({
                el: "#app",
                data: {
                    jogos: ["Monster Hunter", "Persona", null, 999, true],
                    consoles: {
                        console1: "Nintendo",
                        console2: "Sony",
                        console3: ["PC","Notebook"],
                        portateis: {
                            portatil1: "GameBoy",
                            portatil2: "PSP",
                        },
                    },
                    estados: {
                        sp: {
                            id: 1,
                            nome: "São Paulo",
                            populacao: 10000,
                        },
                        rj: {
                            id: 2,
                            nome: "Rio de Janeiro",
                            populacao: 5000,
                        },
                        ac: {
                            id: 3,
                            nome: "Acre",
                            populacao: 17,
                        },
                    },
                    estados1: {
                        rj: {
                            id: 2,
                            nome: "Rio de Janeiro",
                            populacao: 5000,
                        },
                        ac: {
                            id: 3,
                            nome: "Acre",
                            populacao: 17,
                        },
                        sp: {
                            id: 1,
                            nome: "São Paulo",
                            populacao: 10000,
                        },
                    },
                    musicas: ["Dani California", "By the Way", "Torture Me"],
                },
                methods: {
                    misturar() {
                        estadosNew = this.estados
                        this.estados = this.estados1
                        this.estados1 = estadosNew
                    },
                    remove() {
                        this.musicas.pop();
                        //Métodos de arrays ativam a reatividade automaticamente
                        console.log(this.musicas);
                    },
                    altera() {
                        //Altera mas não aciona reatividade no front
                        //this.musicas[0] = "This World";
                        
                        //Ou usar o comando abaixo para alterar e ativar a reatividade:
                        this.$set(this.musicas, 0, "This World");
                        
                        console.log(this.musicas);
                    }
                }
            })
        </script>
    </div>
</body>
</html>